@page "/"

<PageTitle>Home - Rotary Engine Project</PageTitle>

<h1>ROTARYPARKPICKER!!</h1>

<p>Build your own rotard engine or think about your compression.</p>

<div class="mt-4">
    <a href="enginebuilder" class="btn btn-primary btn-lg me-2">Engine Builder</a>
    <a href="part-categories" class="btn btn-secondary btn-lg">Browse Part Categories</a>
</div>

@* You can add more content to your home page below *@